app/app/__pycache__/__init__.cpython-313.pyc
app/app/__pycache__/app_stack.cpython-313.pyc
app/cdk.out/.cache/c6481b845f4fb601dfa70d0b9c39e443c43ab5ed6b58db9ad6f0fb67eb1dc51b.zip
app/cdk.out/read.48608.1.lock
